:root {
  --bg-light: rgba(50, 50, 51, 1);
  --bg-dark: rgba(28, 28, 29, 1);
  --white: rgba(255, 255, 255, 1);

  --accent-red: rgba(251, 54, 64, 1);
  --accent-grey: hsl(30, 1%, 37%);
  --accent-navy: rgba(29, 52, 64, 1);
  --accent-blue: rgba(31, 72, 126, 1);
  --accent-teal: rgba(36, 123, 160, 0.8);
  --accent-darkred: rgb(117, 7, 35, 1);

  --transp-teal: rgba(84, 122, 172, 0.5);
  --transp-white: rgb(255, 255, 255, 0.5);
  --transp-bg-light: rgba(50, 50, 51, 0.9);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  justify-content: space-between;
  height: 100vh;
  font-size: 0.3rem;
  font-family: "KoHo", sans-serif;
  color: var(--white);
}

header,
footer {
  height: 10vh;
  background: var(--bg-light);
}

/* utility */
button {
  border: none;
  border-radius: 20%;
  background: var(--transp-white);
  color: var(--accent-navy);
}

.btn {
  border: none;
  border-radius: 15px;
  padding: 0.3rem 3.3rem;
  background: var(--accent-darkred);
  color: var(--white);
}

.flex-row {
  flex-direction: row;
  display: flex;
}

.flex-column {
  flex-direction: column;
  display: flex;
}

.hidden {
  display: none;
}
/* Icons */

.icon {
  border: 2px solid var(--accent-blue);
  border-radius: 10%;
  padding: 0.4rem;
  background: var(--transp-teal);
  font-size: 2.5rem;
}

.icon-small {
  font-size: 1.3rem;
}

.icon-on {
  color: var(--accent-red);
}

/* header */
header {
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px var(--accent-grey) solid;
  padding: 0.5rem 2rem;
}

.filter-logo-container {
  justify-content: space-around;
  width: 10rem;
}

header i {
  font-size: 4rem;
}

h1 {
  position: relative;
  justify-content: center;
  text-align: center;
}

h1 p:first-child {
  font-size: 0.75rem;
  font-weight: 300;
  color: var(--accent-red);
}

h1 p:nth-child(2) {
  font-style: italic;
}

h1 p:nth-child(3) {
  font-family: "Seaweed Script", cursive;
}

h1 i {
  position: absolute;
  align-self: center;
  font-size: 5rem;
  color: var(--accent-teal);
}

/* Filter Menu */
.filter-menu {
  position: absolute;
  z-index: 1;
  align-self: flex-start;
  border-right: 2px solid var(--accent-grey);
  width: 60%;
  height: 39.9rem;
  padding: 0.5rem 0 0 0.5rem;
  background: var(--transp-bg-light);
  font-size: 1rem;
}

fieldset {
  z-index: 2;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
  border: none;
  width: 13rem;
  height: 100%;
}

li {
  align-content: center;
  margin: 0.5rem 0.9rem;
  text-align: center;
}

input[type="checkbox"] {
  display: none;
}

input[type="submit"] {
  align-self: center;
  margin-top: 1rem;
  font-size: 1rem;
  letter-spacing: 0.3rem;
}

input[type="submit"]:hover {
  box-shadow: 0 0 5px var(--white);
  text-shadow: 0 0 3px var(--white);
}

/* Message Bar */
.message-bar {
  align-items: center;
  justify-content: center;
  padding-bottom: 0.3rem;
  width: 100%;
  height: 5vh;
  padding: 0.5rem 0;
  background-color: var(--accent-darkred);
  line-height: 1.2rem;
}

.message-bar h2 {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 200;
}

/* Main */
main {
  align-items: center;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100vh;
  background: var(--bg-dark);
}

.error-view {
  justify-content: center;
  align-content: center;
  height: 100%;
}

.error-message {
  text-align: center;
  font-size: 4rem;
}

/* Recipe Card */
.recipe-card {
  position: relative;
  z-index: 1;
  margin: 1rem 0;
  border-radius: 0 0 15px 15px;
  min-height: 12rem;
  width: 20rem;
}

.recipe-card img {
  position: absolute;
  border-radius: 0 0 15px 15px;
  height: 100%;
  width: 100%;
}

.recipe-card-info {
  z-index: 1;
  max-height: 4rem;
  width: 100%;
  background: rgba(50, 50, 51, 0.9);
}

.recipe-tag-container {
  justify-content: center;
  width: 15.5rem;
  height: 100%;
  text-align: center;
}

.recipe-name {
  min-width: 100%;
  padding-left: 0.5rem;
  font-size: 1.4rem;
  word-break: break-all;
}

.tag-container {
  position: absolute;
  top: 34%;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 0.2rem;
  width: 80%;
  padding: 0.4rem 0;
}

.tags {
  margin: 0 0.3rem 0.5rem 0;
  border-radius: 15px;
  padding: 0 0.5rem 0.1rem 0.5rem;
  font-size: 0.9rem;
  font-weight: 300;
  background: var(--accent-teal);
}

.recipe-card-buttons-container {
  position: absolute;
  align-items: center;
  align-self: flex-end;
  justify-content: space-around;
  height: 60%;
  width: 3rem;
}

.recipe-card-buttons-container button {
  padding: 0 0.2rem;
  font-size: 1.8rem;
}

/* Recipe View */

.recipe-card-all {
  align-items: center;
  height: 100%;
  width: 100%;
}

.full-recipe-view .recipe-card img {
  align-content: flex-end;
  border-radius: 15px 15px 0 0;
}

.full-recipe-view .full-recipe-info h4 {
  margin-bottom: 0.4rem 0;
  text-decoration: underline;
}

.total-cost {
  z-index: 1;
  align-self: flex-end;
  height: 1.5rem;
  width: 100%;
  padding: 0 0.4rem;
  font-size: 1rem;
  background: var(--transp-bg-light);
}

.total-cost h5 {
  margin-right: 0.3rem;
  font-size: 1rem;
}

.full-recipe-view .recipe-card-buttons-container {
  align-self: flex-start;
  justify-content: space-evenly;
  border-radius: 15px 0 0 0;
  height: 100%;
  padding-bottom: 1rem;
  background: var(--transp-bg-light);
}

.full-recipe-info {
  justify-content: center;
  width: 85%;
  padding: 0.3rem 0.5rem;
  background: var(--bg-light);
  font-size: 1rem;
}

.instructions-info {
  text-align: justify;
}

.ingredients-info p,
.instructions-info p {
  margin-bottom: 0.4rem;
}

.tag-container-full {
  align-content: center;
  justify-content: center;
  border-bottom: var(--bg-light) 3px solid;
  z-index: 2;
  height: 10%;
}

.tag-container-full .tags {
  margin-top: 0.5rem;
  padding: 0.125rem 0.8rem;
  font-size: 0.5rem;
}

/* Footer */
footer {
  position: relative;
  align-items: center;
  justify-content: space-around;
  padding: 0 0.4rem;
}

.search-bar {
  margin: 0 0.2rem;
  border-radius: 5px;
  height: 2.4rem;
  width: 75%;
  padding: 0.4rem;
}

.search-btn {
  z-index: 2;
  border-radius: 50%;
  padding: 0.5rem;
  background-color: var(--transp-teal);
  font-size: 1.3rem;
  color: var(--white);
}

input:checked + .tags {
  background: var(--accent-blue);
  color: var(--accent-red);
}

@media (min-width: 376px) {
  .display-desktop {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  .hidden {
    display: none;
  }
  .message-bar {
    height: 7vh;
  }
  .message-bar h2 {
    font-size: 1.8rem;
  }

  .error-view {
    padding: 0 1rem;
  }

  .filter-menu {
    align-items: center;
    height: 77.8%;
    max-width: 40%;
    padding: 0;
    padding-bottom: 1rem;
  }

  fieldset {
    width: auto;
    max-height: 80%;
    margin-top: 0;
  }

  li {
    padding: 0;
  }
  .recipe-card {
    margin-right: 1rem;
  }

  .total-cost {
    justify-content: flex-end;
    background: var(--bg-dark);
  }

  .total-cost p,
  .total-cost h5,
  .full-recipe-info {
    font-size: 1.5rem;
  }

  .full-recipe-view .recipe-card {
    align-self: center;
    margin-right: 0;
    height: 15rem;
    width: 85%;
  }

  .full-recipe-view .recipe-card img {
    background: center center/cover no-repeat;
  }

  .tag-container-full {
    height: 15%;
  }

  .tag-container-full .tags {
    font-size: 1rem;
  }

  footer .icon-small,
  footer .icon {
    font-size: 2rem;
  }

  .search-bar {
    height: 3rem;
    width: 80%;
    font-size: 1.5rem;
  }

  h1:hover,
  .exit-card:hover,
  .heart-card:hover,
  .calendar-card:hover,
  .filter-btn:hover,
  .search-btn:hover {
    color: var(--accent-red);
  }
}
